.banner{
    padding: 50px 0;

    &_titles{
        @extend %flex-center;
        flex-direction: column;
        margin-bottom: 44px;
    }

    &__title{
        padding: 10px;
        color: $white-color;
        font-family: $montserrat;
        font-size: 52px;
        font-weight: 400;
        line-height: 119%;
        letter-spacing: 0.2px;

        @media screen and (max-width: 650px) {
            font-size: 34px;
        }
    }

    &__subtitle{
        width: 50%;
        padding: 10px;
        color: $white-color;
        text-align: center;
        font-family: $montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.2px;

        @media screen and (max-width: 650px) {
            width: 100%;
        }

        @media screen and (max-width: 650px) {
            font-size: 14px;
        }
    }

    &__content{
        @extend %flex_center;
        gap: 33px;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__card{
            width: 476px;
            height: 624px;
            background-color: $white-color;
            @extend %flex-center;
            gap: 57px;
            flex-direction: column;
            padding: 40px;
            border-radius: 10px;
            border: 1px solid $card-color;
            box-shadow: 0px 4px 31px 0px $rgba-btn-color;

            @media screen and (max-width: 600px) {
                width: 390px;
            }

            @media screen and (max-width: 400px) {
                width: 100%;
                gap: 43px;
                padding: 34px;
                height: 100%;
            }


            &_img{
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }


            &__titles{
                display: flex;
                flex-direction: column;
                width: 300px;

                @media screen and (max-width: 400px) {
                    width: 100%;
                }
            }

            &__title{
                padding: 10px;
                color: $black-color;
                text-align: center;
                font-family: $montserrat;
                font-size: 20px;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: 0.1px;
            }

            &__subtitle{
                padding: 10px;
                color: $subtitle-color;
                text-align: center;
                font-family: $montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.2px;
            }

            &_btn{
                background-color: $btn-color;
                box-shadow: 0px 4px 31px 0px $rgba-btn-color;
                padding: 20px 36px;
                border: 1px solid $btn-color;
                transition: all 0.2s ease-in-out;

                @media screen and (max-width: 400px) {
                    padding: 10px 26px;
                }

                &:hover{
                    background-color: $white-color;
                    border: 1px solid $black-color;
                    & span{
                        color: $black-color;
                    }
                }

                &_text{
                    padding: 10px;
                    color: $white-color;
                    font-family: $montserrat;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 147%;
                    letter-spacing: 0.2px;

                    @media screen and (max-width: 400px) {
                        font-size: 12px;
                    }
                }
            }
        }

        &__card2{
            width: 476px;
            height: 624px;
            background-color: $white-color;
            @extend %flex-center;
            gap: 27px;
            flex-direction: column;
            padding: 40px;
            border-radius: 10px;
            border: 1px solid $card-color;
            box-shadow: 0px 4px 31px 0px $rgba-btn-color;

            @media screen and (max-width: 600px) {
                width: 390px;
            }

            @media screen and (max-width: 400px) {
                width: 100%;
                gap: 43px;
                padding: 34px;
                height: 100%;
            }


            &_img{
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
        }
    }
}