.content{
    padding: 80px 0;
    margin: 50px 0;

    &-banner{
        width: 100%;
        height: 370px;
        background-color: $banner-color;
        border-radius: 33px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;


        &__row{
            padding: 17px 77px;
        }


        &__title{
            color: $white-color;
            font-size: 52px;
            font-weight: 400;
            line-height: 62px;
            letter-spacing: 0.2px;
            text-align: left;
            cursor: pointer;
        }


        &__btn{
            width: 232px;
            background-color: $btn-color;
            box-shadow: 0px 4px 31px 0px $rgba-btn-color;
            padding: 20px 36px;
            border: 1px solid $btn-color;
            transition: all 0.2s ease-in-out;
            color: $white-color;
            font-size: 17px;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0.2px;
            margin-top: 37px;

            @media screen and (max-width: 400px) {
                padding: 10px 26px;
            }

            &:hover{
                background-color: $white-color;
                border: 1px solid $black-color;
                color: $black-color;
            }
        }


        & img{
            cursor: pointer;
        }
    }
}