.partner{
    padding: 50px 0;
    margin-top: 50px;

    &-head{
        @extend %flex-center;
        flex-direction: column;
        margin-bottom: 44px;
    }

    &-title{
        padding: 10px;
        color: $white-color;
        font-family: $montserrat;
        font-size: 52px;
        font-weight: 400;
        line-height: 119%;
        letter-spacing: 0.2px;

        @media screen and (max-width: 650px) {
            font-size: 42px;
        }
    }

    &-subtitle{
        width: 630px;
        padding: 10px;
        color: $white-color;
        text-align: center;
        font-family: $montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.2px;

        @media screen and (max-width: 650px) {
            width: 100%;
            font-size: 18px;
        }
    }

    &-links{
        display: flex;
        justify-content: center;
        gap: 70px;

        @media screen and (max-width: 890px) {
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &-button{
        display: flex;
        justify-content: center;
        margin-top: 40px;

        @media screen and (max-width: 700px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-btn{
        padding: 10px 30px;
        border: 1px solid $white-color;
        box-shadow: 0px 4px 31px 0px $rgba-btn-color;
        transition: all 0.2s ease-in-out;


        &:hover{
            background-color: $white-color;
            border: 1px solid $white-color;
            & span{
                color: $black-color;
            }
        }

        &__title{
            padding: 10px;
            color: $white-color;
            font-family: $montserrat;
            font-size: 17px;
            font-weight: 500;
            line-height: 147%;
            letter-spacing: 0.2px;
        }
    }
}