.product{
    padding: 62px 50px;

    &_img{
        margin: 40px 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
    }

    &__images{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        &__png{
            width: 100%;
        }
    }

    &__head{
        @extend %flex-center;
        gap: 27px;
        flex-direction: column;
        margin-bottom: 80px;

        &__title{
            color: $white-color;
            font-family: $montserrat;
            font-size: 52px;
            font-weight: 400;
            line-height: 119.231%;
            letter-spacing: 0.2px;
        }

        &__subtitle{
            width: 650px;
            color: $white-color;
            text-align: center;
            font-family: $montserrat;
            font-size: 20px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.2px;
            
            @media screen and (max-width: 650px) {
                width: 100%;
            }
        }
    }

    &__content{
        display: flex;
        align-items: center;

        @media screen and (max-width: 990px) {
            flex-direction: column;
        }

        &__img{
            display: block;
            
            @media screen and (max-width: 720px) {
                display: none;
            }
        }

        &__mobile{
            display: none;
            
            @media screen and (max-width: 720px) {
                display: block;
            }
        }

        &__cards{
            width: 350px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 20px;
        }

        &__card{
            &__col{
                display: flex;
                align-items: center;
                gap: 4px;

                &_icon{
                    padding: 19px 3px;
                }
                &__title{
                    padding: 10px;
                    color: $white-color;
                    font-family: $montserrat;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: 0.1px;
                }

                &__subtitle{
                    padding: 10px;
                    color: $white-color;
                    font-family: $montserrat;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: 0.2px;
                }
            }
        }
    }
}