@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
.wrapper {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #181818;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

ul,
ol,
li {
  list-style: none;
}

.footer-right_socials, .footer-right_icons, .footer-right_imgs, .partner-head, .gallery__titles, .banner__content__card2, .banner__content__card, .banner_titles, .product__head, .header__buttons {
  display: flex;
  align-items: center;
}

.testimonal-top, .banner__content {
  display: flex;
  justify-content: center;
}

.header {
  padding: 33px 0;
}
@media (width <= 768px) {
  .header {
    padding: 15px 0;
  }
}
.header__wrap {
  display: flex;
  gap: 35px;
  flex-direction: column;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navbar {
  display: flex;
  gap: 31px;
}
@media screen and (max-width: 950px) {
  .header__navbar {
    gap: 10px;
  }
}
@media screen and (max-width: 900px) {
  .header__navbar {
    display: none;
  }
}
.header__navbar__links {
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.2px;
  transition: all 0.2s ease-in-out;
}
.header__navbar__links:hover {
  color: rgb(156, 154, 154);
  text-decoration: underline;
}
.header__buttons {
  gap: 20px;
}
.header__btn {
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 36px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 650px) {
  .header__btn {
    padding: 14px 26px;
  }
}
@media screen and (max-width: 500px) {
  .header__btn {
    padding: 10px 20px;
  }
}
@media (width <= 400px) {
  .header__btn {
    padding: 8px;
  }
}
.header__btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
}
.header__btn:hover span {
  color: #181818;
}
.header__btn__title {
  color: #fff;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 147%;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 500px) {
  .header__btn__title {
    padding: 4;
    font-size: 12px;
  }
}
.header__mobile {
  display: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .header__mobile {
    display: block;
  }
}
.header__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 17px;
  padding-top: 50px;
}
.header__content__title {
  width: 771px;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 768px) {
  .header__content__title {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .header__content__title {
    font-size: 52px;
  }
}
@media (width <= 500px) {
  .header__content__title {
    font-size: 26px;
  }
}
.header__content__subtitle {
  width: 640px;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .header__content__subtitle {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .header__content__subtitle {
    font-size: 16px;
  }
}
@media (width <= 500px) {
  .header__content__subtitle {
    font-size: 14px;
  }
}
.header__content__buttons {
  display: flex;
  gap: 35px;
}
@media (width <= 500px) {
  .header__content__buttons {
    gap: 10px;
  }
}
.header__content__btn {
  background-color: #4452FE;
  padding: 10px 30px;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #4452FE;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 600px) {
  .header__content__btn {
    padding: 8px 24px;
  }
}
.header__content__btn:hover {
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  border: 1px solid #fff;
}
.header__content__btn__title {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 147%;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 600px) {
  .header__content__btn__title {
    padding: 0;
    font-size: 12px;
  }
}
.header__content__btn_two {
  border: 1px solid #fff;
  padding: 20px 30px;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 600px) {
  .header__content__btn_two {
    padding: 8px 24px;
  }
}
.header__content__btn_two:hover {
  background-color: #4452FE;
  border: 1px solid #4452FE;
}
@media screen and (max-width: 430px) {
  .header__icon__img {
    width: 100%;
  }
}

.main_img {
  margin: 40px 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}
.main__images {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.main__images__png {
  width: 100%;
}

.product {
  padding: 62px 50px;
}
.product_img {
  margin: 40px 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
}
.product__images {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.product__images__png {
  width: 100%;
}
.product__head {
  gap: 27px;
  flex-direction: column;
  margin-bottom: 80px;
}
.product__head__title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 119.231%;
  letter-spacing: 0.2px;
}
@media (width <= 768px) {
  .product__head__title {
    font-size: 32px;
  }
}
@media (width <= 500px) {
  .product__head__title {
    font-size: 26px;
  }
}
.product__head__subtitle {
  width: 650px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
}
@media (width <= 768px) {
  .product__head__subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 650px) {
  .product__head__subtitle {
    width: 100%;
  }
}
@media (width <= 500px) {
  .product__head__subtitle {
    font-size: 14px;
  }
}
.product__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 990px) {
  .product__content {
    flex-direction: column;
  }
}
.product__content__img {
  display: block;
}
@media (width <= 1280px) {
  .product__content__img {
    width: 570px;
  }
}
@media (width <= 1200px) {
  .product__content__img {
    width: 500px;
  }
}
@media screen and (max-width: 720px) {
  .product__content__img {
    display: none;
  }
}
.product__content__mobile {
  display: none;
}
@media screen and (max-width: 720px) {
  .product__content__mobile {
    display: block;
  }
}
@media screen and (max-width: 380px) {
  .product__content__mobile {
    width: 100%;
  }
}
.product__content__cards {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}
.product__content__card__col {
  display: flex;
  align-items: center;
  gap: 4px;
}
.product__content__card__col_icon {
  padding: 19px 3px;
}
.product__content__card__col__title {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.1px;
}
@media (width <= 768px) {
  .product__content__card__col__title {
    font-size: 18px;
  }
}
@media (width <= 500px) {
  .product__content__card__col__title {
    font-size: 16px;
  }
}
.product__content__card__col__subtitle {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
}
@media (width <= 768px) {
  .product__content__card__col__subtitle {
    font-size: 16px;
  }
}
@media (width <= 500px) {
  .product__content__card__col__subtitle {
    font-size: 14px;
  }
}

.banner {
  padding: 50px 0;
}
.banner_titles {
  flex-direction: column;
  margin-bottom: 44px;
}
@media (width <= 768px) {
  .banner_titles {
    margin-bottom: 28px;
  }
}
.banner__title {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 119%;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 650px) {
  .banner__title {
    font-size: 34px;
  }
}
@media (width <= 500px) {
  .banner__title {
    font-size: 26px;
  }
}
.banner__subtitle {
  width: 50%;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 650px) {
  .banner__subtitle {
    width: 100%;
    font-size: 14px;
  }
}
.banner__content {
  gap: 33px;
}
@media screen and (max-width: 900px) {
  .banner__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.banner__content__card {
  width: 476px;
  height: 624px;
  background-color: #fff;
  gap: 57px;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
@media (width <= 1000px) {
  .banner__content__card {
    width: 400px;
    padding: 28px;
  }
}
@media screen and (max-width: 600px) {
  .banner__content__card {
    width: 390px;
  }
}
@media screen and (max-width: 400px) {
  .banner__content__card {
    width: 100%;
    gap: 43px;
    padding: 34px;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .banner__content__card_img {
    width: 100%;
  }
}
.banner__content__card__titles {
  display: flex;
  flex-direction: column;
  width: 300px;
}
@media screen and (max-width: 400px) {
  .banner__content__card__titles {
    width: 100%;
  }
}
.banner__content__card__title {
  padding: 10px;
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.banner__content__card__subtitle {
  padding: 10px;
  color: #5C5C5C;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
}
.banner__content__card_btn {
  background-color: #4452FE;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 36px;
  border: 1px solid #4452FE;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 400px) {
  .banner__content__card_btn {
    padding: 10px 26px;
  }
}
.banner__content__card_btn:hover {
  background-color: #fff;
  border: 1px solid #000;
}
.banner__content__card_btn:hover span {
  color: #000;
}
.banner__content__card_btn_text {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 147%;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 400px) {
  .banner__content__card_btn_text {
    font-size: 12px;
  }
}
.banner__content__card2 {
  width: 476px;
  height: 624px;
  background-color: #fff;
  gap: 27px;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 600px) {
  .banner__content__card2 {
    width: 390px;
  }
}
@media screen and (max-width: 400px) {
  .banner__content__card2 {
    width: 100%;
    gap: 43px;
    padding: 34px;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .banner__content__card2_img {
    width: 100%;
  }
}

.gallery {
  padding: 50px 0;
}
.gallery__titles {
  flex-direction: column;
  margin-bottom: 44px;
}
.gallery__title {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 119%;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 768px) {
  .gallery__title {
    font-size: 42px;
  }
}
@media (width <= 500px) {
  .gallery__title {
    font-size: 26px;
  }
}
.gallery__subtitle {
  width: 630px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 650px) {
  .gallery__subtitle {
    width: 100%;
    font-size: 18px;
  }
}
@media (width <= 500px) {
  .gallery__subtitle {
    font-size: 14px;
  }
}
.gallery__content_images {
  display: flex;
  gap: 33px;
}
@media screen and (max-width: 1200px) {
  .gallery__content_images {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  .gallery__content_images {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .gallery__content_images_img {
    width: 81%;
  }
}
.gallery__content_images_img1 {
  display: block;
}
@media screen and (max-width: 650px) {
  .gallery__content_images_img1 {
    display: none;
  }
}
.gallery__content_banner {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .gallery__content_banner {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.gallery__content_banner_image {
  display: block;
}
@media screen and (max-width: 650px) {
  .gallery__content_banner_image {
    display: none;
  }
}
.gallery__content_banner_mobile {
  display: none;
}
@media screen and (max-width: 650px) {
  .gallery__content_banner_mobile {
    display: block;
    width: 81%;
  }
}
.gallery__button {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .gallery__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.gallery_btn {
  padding: 10px 30px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
.gallery_btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
}
.gallery_btn:hover span {
  color: #000;
}
.gallery_btn_title {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 147%;
  letter-spacing: 0.2px;
}

.partner {
  padding: 50px 0;
  margin-top: 50px;
}
.partner-head {
  flex-direction: column;
  margin-bottom: 44px;
}
.partner-title {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 119%;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 768px) {
  .partner-title {
    font-size: 42px;
  }
}
@media (width <= 500px) {
  .partner-title {
    font-size: 26px;
  }
}
.partner-subtitle {
  width: 630px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 650px) {
  .partner-subtitle {
    width: 100%;
    font-size: 18px;
  }
}
@media (width <= 500px) {
  .partner-subtitle {
    font-size: 14px;
  }
}
.partner-links {
  display: flex;
  justify-content: center;
  gap: 70px;
}
@media screen and (max-width: 890px) {
  .partner-links {
    flex-wrap: wrap;
    align-items: center;
  }
}
@media (width <= 768px) {
  .partner-links {
    gap: 50px;
  }
}
@media (width <= 768px) {
  .partner-links a img {
    width: 40px;
  }
}
.partner-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (max-width: 700px) {
  .partner-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.partner-btn {
  padding: 10px 30px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
@media (width <= 768px) {
  .partner-btn {
    padding: 12px;
  }
}
.partner-btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
}
.partner-btn:hover span {
  color: #000;
}
.partner-btn__title {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 147%;
  letter-spacing: 0.2px;
}

.testimonal {
  padding: 50px 20px;
  margin: 150px 0;
}
.testimonal-row {
  display: flex;
  justify-content: center;
  gap: 23px;
}
@media (width <= 768px) {
  .testimonal-row {
    gap: 16px;
  }
}
@media (width <= 700px) {
  .testimonal-row {
    gap: 16px;
    flex-direction: column;
    align-items: center;
  }
}
.testimonal-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (width <= 1000px) {
  .testimonal-col {
    gap: 10px;
  }
}
.testimonal-card {
  width: 430px;
  height: 328px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  padding: 40px;
  transition: all 0.2s ease-in-out;
}
@media (width <= 1000px) {
  .testimonal-card {
    width: 350px;
    height: 100%;
    padding: 26px;
  }
}
@media (width <= 798px) {
  .testimonal-card {
    width: 300px;
    padding: 18px;
  }
}
@media (width <= 700px) {
  .testimonal-card {
    width: 360px;
    padding: 18px;
  }
}
.testimonal-card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
@media (width <= 1000px) {
  .testimonal-card:hover {
    transform: translateY(0);
  }
}
.testimonal-card__header {
  display: flex;
  gap: 13px;
  margin-bottom: 30px;
}
.testimonal-card__titles {
  padding: 0 10px;
}
.testimonal-card__title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.testimonal-card2 {
  width: 430px;
  height: 304px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  padding: 40px;
  transition: all 0.2s ease-in-out;
}
@media (width <= 798px) {
  .testimonal-card2 {
    width: 300px;
    padding: 18px;
  }
}
@media (width <= 700px) {
  .testimonal-card2 {
    width: 360px;
    padding: 18px;
  }
}
.testimonal-card2:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
@media (width <= 1000px) {
  .testimonal-card2:hover {
    transform: translateY(0);
  }
}
.testimonal-card2__header {
  display: flex;
  gap: 13px;
  margin-bottom: 30px;
}
.testimonal-card2__titles {
  padding: 0 10px;
}
.testimonal-card2__title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.testimonal-top {
  padding: 10px;
  margin: 50px 0;
}
@media (width <= 768px) {
  .testimonal-top {
    margin: 32px 0;
  }
}
.testimonal-title {
  color: #fff;
  font-size: 52px;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: 0.2px;
}
@media (width <= 768px) {
  .testimonal-title {
    font-size: 36px;
    line-height: 48px;
  }
}
@media (width <= 500px) {
  .testimonal-title {
    font-size: 24px;
    line-height: 32px;
  }
}
.testimonal__subtitle {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.9px;
}

.content {
  padding: 80px 0;
  margin: 50px 0;
}
.content-banner {
  width: 100%;
  height: 370px;
  background-color: #343434;
  border-radius: 33px;
  display: flex;
}
@media (width <= 768px) {
  .content-banner {
    flex-direction: column;
    height: 100%;
    padding: 20px 10px;
  }
}
.content-banner__row {
  padding: 17px 77px;
  margin-top: 40px;
}
@media (width <= 900px) {
  .content-banner__row {
    padding: 15px 48px;
  }
}
@media (width <= 768pxpx) {
  .content-banner__row {
    padding: 15px 32px;
  }
}
.content-banner__title {
  color: #fff;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: left;
  cursor: pointer;
}
@media (width <= 1140px) {
  .content-banner__title {
    font-size: 38px;
    line-height: 50px;
  }
}
@media (width <= 1020px) {
  .content-banner__title {
    font-size: 28px;
    line-height: 37px;
  }
}
@media (width <= 768px) {
  .content-banner__title {
    font-size: 18px;
  }
}
.content-banner__btn {
  width: 232px;
  background-color: #4452FE;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 36px;
  border: 1px solid #4452FE;
  transition: all 0.2s ease-in-out;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  margin-top: 37px;
}
@media screen and (max-width: 768px) {
  .content-banner__btn {
    padding: 10px 26px;
    width: 100%;
  }
}
@media (width <= 500px) {
  .content-banner__btn {
    padding: 10px;
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
  }
}
.content-banner__btn:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
@media (width <= 500px) {
  .content-banner__btn:hover {
    background-color: #4452FE;
    border: 1px solid #4452FE;
    color: #fff;
  }
}
.content-banner img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 30px;
}

.footer {
  margin-top: 200px;
  padding: 107px 0;
}
.footer-row {
  display: flex;
  gap: 199px;
  padding: 0 70px;
}
@media (width <= 1000px) {
  .footer-row {
    padding: 0 46px;
    gap: 90px;
  }
}
@media (width <= 768px) {
  .footer-row {
    gap: 48px;
  }
}
@media (width <= 700px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }
}
.footer-contents {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
}
@media (width <= 1000px) {
  .footer-contents {
    gap: 46px;
  }
}
@media (width <= 768px) {
  .footer-contents {
    gap: 32px;
  }
}
.footer-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 19px;
}
.footer-cards__title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
}
.footer-cards__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  transition: all 0.2s ease-in-out;
}
.footer-cards__link:hover {
  text-decoration: underline;
}
.footer-right {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (width <= 1000px) {
  .footer-right {
    padding: 0 28px;
  }
}
@media (width <= 768px) {
  .footer-right {
    padding: 18px;
  }
}
.footer-right_icons {
  gap: 10px;
}
.footer-right_socials {
  gap: 25px;
  padding: 20px 0;
}
.footer-right__title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding: 10px;
}
.footer-right__number {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding: 0 8px;
}/*# sourceMappingURL=main.css.map */