.wrapper{
    width: 100%;
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    background-color: $site-back-color;
}


.container{
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}


.main{
    flex: 1 1 auto;
}