// FONTS
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
$montserrat: 'Montserrat', sans-serif;


// COLORS
$white-color: #fff;
$black-color: #000;
$site-back-color: #181818;
$link-hover-color: rgb(156, 154, 154);
$rgba-btn-color: rgba(0, 0, 0, 0.15);
$btn-color: #4452FE;
$bg-color: #0E0E0E;
$subtitle-color: #5C5C5C;
$card-color: #D3D3D3;
$links-color: #252B42;
$link2-color: #FA4A0C;
$header-content-color: #F6F6F6;